spring:
  application:
    name: shop

  datasource:
    url: jdbc:postgresql://localhost:5432/shop
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
  default-flat-param-object: true

api:
  v1: /api/v1