spring:
  application:
    name: shop

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  task:
    scheduling:
      cron:
        settlement: 0 0 0 * * *

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
  default-flat-param-object: true

api:
  v1: /api/v1

payment:
  toss:
    secret-key: ${TOSS_SECRET_KEY}
